@use '@/share/constants/styles/variables' as vars;
@use '@/share/constants/styles/mixins';

:global {
  .container {
    max-width: vars.$container-desktop-width;
    padding: 0 vars.$desktop-padding;
    margin: 0 auto;

    @include mixins.tablet {
      max-width: vars.$container-tablet-width;
      padding: 0 vars.$tablet-padding;
    }

    @include mixins.mobile {
      max-width: vars.$container-mobile-width;
      padding: 0 vars.$mobile-padding;
    }
  }

  .visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-decoration: none;

    background-color: vars.$vivid-cerulean;
    border-radius: 22px;
    transition: opacity 200ms, background-color 200ms;

    border: none;
    padding: 12px 49px;

    @include mixins.hover {
      opacity: 0.7;
    }

    @include mixins.active {
      opacity: 0.4;
    }

    @include mixins.disabled {
      background-color: #a2a2a2;
    }
  }
}
