@use '@/share/constants/styles/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: vars.$main-text-color;
  font-size: 17px;
  line-height: 129%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  background-color: vars.$main-background-color;

  margin: 0;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

label {
  cursor: pointer;
}

a {
  color: inherit;
}
