@use '@/share/constants/styles/mixins';

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding-top: 12px;
  padding-bottom: 12px;
}

.image {
  width: 524px;
  height: 232px;
  margin-bottom: 22px;

  @include mixins.mobile {
    width: 375px;
    height: 163px;
  }
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 117%;

  margin: 0;
  margin-bottom: 28px;

  @include mixins.mobile {
    font-size: 22px;
    line-height: 159%;

    margin-bottom: 14px;
  }
}

.text {
  margin: 0;
  margin-bottom: 28px;

  max-width: 300px;

  @include mixins.mobile {
    margin-bottom: 14px;
  }
}
